<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="bb180scanner" version="1.0.0">

    <name>BB180 Scanner</name>
    <description>BB180 Scanner Plugin for Cordova.</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/plugins.bb180scanner.js" name="bb180scanner">
        <clobbers target="cordova.plugins.bb180scanner" />
    </js-module>

    <!-- Android -->
    <platform name="android">
        <source-file src="src/android/io/github/marceldurchholz/cordova/plugins/bb180scanner/bb180scanner.java" target-dir="src/io/github/marceldurchholz/cordova/plugins/bb180scanner" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="bb180scanner">
                <param name="android-package" value="io.github.marceldurchholz.cordova.plugins.bb180scanner.bb180scanner" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>
    </platform>

    <source-file src="src/android/io/github/marceldurchholz/cordova/plugins/bb180scanner/android-support-v4-f75e63b38c390cd0b5b93bcb53dfbfed.jar" target-dir="libs/" />
    

</plugin>
